@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@layer base {
  body {
    @apply font-sans text-base text-black
  }

  h1 {
    @apply font-bold text-4xl
  }

  h2 {
    @apply font-semibold text-3xl
  }

  h3 {
    @apply font-semibold text-2xl
  }

  h4 {
    @apply font-semibold text-xl
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}